{% extends "blog/home.html" %}  <!--Must include 'blog/' before html name for Django to look up-->

{% block title %} Fundamental Trader-About Me {% endblock %}

{% block content %}
<div style="margin-left:175px; width:850px;">
<h2>About Me</h2>
<p>I graduated from University of California, San Diego, and am now working in the field of biotechnology. In my spare time, I like to work on financial analysis and computer programming/web development. They are the main purpose for the website, which is to help me better identify opportunity in the stock market and make informed decision when I invest; I hope this website can benefit others too. Please <a href="{% url 'blog:contact_link' %}">contact me</a> if you have any comment about this website or ways to improve it.</p>

<p>This website is developed with Python, Django, CSS/HTML, JavaScript, and SQL. With the knowledge and experience of building this website, I am currently exploring the option of becoming a full-stack developer where both user experience and database management are equally emphasized in building a professional-looking website. I am also interested in learning more about financial analysis and will consider collaboration in this area too.</p>

<p>If you find this website useful, please share it with others using the share buttons on top of this page. Also please let me know if you are interested in seeing my resume, my previous work experience, etc.... by <a href="{% url 'blog:contact_link' %}">contacting me</a>:)</p>
</div>
{% endblock %}