{% extends "blog/home.html" %}  <!--Must include 'blog/' before html name for Django to look up-->

{% block title %} Fundamental Trader-About Me {% endblock %}

{% block content %}
<div style="margin-left:175px; width:850px;">
<h2>About Me</h2>
<p>I graduated from University of California, San Diego, and am now working in the area of medical device regulation. My purpose for the website is to help me better identify opportunity in the stock market and make informed decision when I invest, and I hope it can benefit others too. Please let me know in the <a href="{% url 'blog:contact_link' %}">contact page</a> if you have any comment about this website or ways to improve it.</p>

<p>This website started out as a personal hobby, which involves financial analysis and computer programming, with emphasis on Python, Django, CSS/HTML, and javascript; the website you are visiting is developed with these tools. I am currently exploring the option of becoming a full-stack developer where both user experience and database management are equally emphasized in building a professional website. I am also interested in learning more about financial analysis and will consider collaboration in this area too.</p>

<p>If you find this website useful, please share it with other people using the share buttons on top of this page. Also please let me know if you are interested in seeing my resume, my previous work experience, etc.... by going to the <a href="{% url 'blog:contact_link' %}">contact page</a>:)</p>
</div>
{% endblock %}