<!--Use for database left-side navigation column.-->
<div class="aside">
	<p><b>Display historical<br>data for a company</b></p>
	<form method="GET" action="{% url 'blog:results' %}">
		<input type="text" name="q" placeholder="Enter Symbol or Name" value="{{ request.GET.q }}" /><br>  <!--include 'name' for search to show up in url; include 'value' to display query while typing.-->
		<input type="submit" style="width:100px;" value="Search" />
	</form>
	<p><b>Display by index</b></p>
	<ul>
		<li><a {% if request.path in all_DJ_link %}class="aside_act"{% endif %} href="{% url 'blog:DJ_LastDay' %}">Dow Jones</a></li>  <!--Implement "aside_act" to customize active link.-->
		<li><a {% if request.path in all_SP_link %}class="aside_act"{% endif %} href="{% url 'blog:SP_LastDay' %}">S&amp;P500</a></li>
		<!--<li><a href="">NASDAQ (coming soon!)</a></li>-->
	</ul>
	<p><b>Display by sector</b></p>
	<p>coming soon!</p><br>
	<p><b>Hint: </b>In Table view,<br>hold down "Shift"<br>while selecting table<br>columns to sort<br>multiple columns.</p>
	<p>In Chart view, click<br>on individual fields<br>within legend to<br>choose the desired<br>fields to display.</p>
</div>
<!--

-->
