{% extends "blog/home.html" %}  <!--Must include 'blog/' before html name for Django to look up-->

{% block title %} Fundamental Trader-DJ Index-Last Day {% endblock %}

{% block content %}
{% include "blog/aside_database.html" %}  <!--Display left-hand column.-->
{% include "blog/PeriodToDisplay.html" %}  <!--Display Period selection for index table.-->
{% load table_index %}  <!--Load inclusion tag script (see "templatetags" folder).-->
{% DJ_LastDay %}  <!--Execute inclusion tag function.-->
{% endblock %}