{% extends "blog/home.html" %}  <!--Must include 'blog/' before html name for Django to look up-->

{% block title %}Fundamental Trader-DJ Index-Last Year{% endblock %}

{% block content %}
<div id="aside">
	<ul>
		<li><a href="{% url 'blog:DJ_LastDay' %}">Dow Jones Index</a></li>
		<li><a href="http://finance.yahoo.com/q?s=^gspc">S&amp;P500 Index</a></li>
	</ul>
</div>

<div id="section" style="margin-left:175px; background-color:#fff;">	<!--Margin added to keep element to the right of aside bar-->
	<ul style=" list-style:none; display:inline; text-decoration:none;">
		<li style="display:inline; text-decoration:none;"><a href="{% url 'blog:DJ_LastDay' %}">Last Trading Day</a></li>
		<li style="display:inline; text-decoration:none;"><a href="{% url 'blog:DJ_LastWk' %}">Last Week</a></li>
		<li style="display:inline; text-decoration:none;"><a href="{% url 'blog:DJ_LastMnth' %}">Last Month</a></li>
		<li style="display:inline; text-decoration:none;"><a href="{% url 'blog:DJ_LastQtr' %}">Last Quarter</a></li>
		<li style="display:inline; text-decoration:none;"><a style="text-decoration:none;" href="{% url 'blog:DJ_LastYr' %}">Last Year</a></li>
	</ul>
</div>

<table id="myTable" border="8" style="border-collapse: collapse; width:1000px;">
	<caption>Dow Jones Index ({{LastYr_posts|length}} items returned) - Last Year ({% with LastYr_posts.0 as 1st %} {{1st.Day}} {% endwith %})</caption>
	<thead>
	<tr style="color:white;background:black;">
		<th onclick="sortTable(0)">Symbol</th>
		<th onclick="sortTable(1)">Price</th>
		<th onclick="sortTable(2)">52-week Change</th>
		<th onclick="sortTable(3)">52-week High</th>
		<th onclick="sortTable(4)">52-week Low</th>
		<th onclick="sortTable(5)">Trailing Annual Dividend Yield</th>
		<th onclick="sortTable(6)">Trailing P/E</th>
		<th onclick="sortTable(7)">Forward P/E</th>
		<th onclick="sortTable(8)">PEG Ratio</th>
		<th onclick="sortTable(9)">Price/Sales</th>
		<th onclick="sortTable(10)">Price/Book</th>
		<th onclick="sortTable(11)">Market Cap</th>
		<th onclick="sortTable(12)">Operating Cash Flow</th>
		<th onclick="sortTable(13)">Market Per Cash Flow</th>
		<th onclick="sortTable(14)">Enterprise Value/EBITDA</th>
		<th onclick="sortTable(15)">Name</th>
	</tr>
	</thead>
	<tbody>
	{% for post in LastYr_posts reversed %}  <!--see views.py for 'posts' list-->
		<!--<p>published: {{ post.published_date }}</p>
		<h1><a href="/">{{ post.title }}</a></h1>
		<p>{{ post.text|linebreaks }}</p>-->
	<tr align="center">
		<td>{{post.Symbol}}</td>
		<td>{{post.LastPrice}}</td>
		<td>{{post.FiftyTwoWkChg}}</td>
		<td>{{post.FiftyTwoWkHi}}</td>
		<td>{{post.FiftyTwoWkLo}}</td>
		<td>{{post.DivYild}}</td>
		<td>{{post.TrailPE}}</td>
		<td>{{post.ForwardPE}}</td>
		<td>{{post.PEG_Ratio}}</td>
		<td>{{post.PpS}}</td>
		<td>{{post.PpB}}</td>
		<td>{{post.Market_Cap}}</td>
		<td>{{post.Free_Cash_Flow}}</td>
		<td>{{post.Market_per_CashFlow}}</td>
		<td>{{post.Enterprise_per_EBITDA}}</td>
		<td>{{post.Name}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

<script>
function sortTable(n) {  //See <https://www.w3schools.com/howto/howto_js_sort_table.asp> for source code.
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  //var reTest = /[A-Za-z]/
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
	for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
	  console.log(x.innerHTML.slice(0,1));  //".innerHTML" displays str nested inside html decorator <></>.
	  /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
	  if (/[a-z]/i.test(x.innerHTML.slice(0,1)) || /[a-z]/i.test(y.innerHTML.slice(0,1))) {  //If the 1st char is a letter for current or next rows, sort as str.
		if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        }
	  } else if (/[0-9]/.test(x.innerHTML.slice(-1)) || /[0-9]/.test(y.innerHTML.slice(-1))) {  //If the last char is a num for current or next rows, sort according to num values.
		if (dir == "asc") {
          if (Number(x.innerHTML) > Number(y.innerHTML)) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (Number(x.innerHTML) < Number(y.innerHTML)) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        }
	  } else if (x.innerHTML.slice(-1) == "%" || y.innerHTML.slice(-1) == "%") {  //If the last char is '%' for current or next rows, sort according to numeric values.
		if (dir == "asc") {
          if (Number(x.innerHTML.slice(0,-1)) > Number(y.innerHTML.slice(0,-1))) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (Number(x.innerHTML.slice(0,-1)) < Number(y.innerHTML.slice(0,-1))) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        }
	  } else if (x.innerHTML.slice(-1).toLowerCase() == "b" || y.innerHTML.slice(-1).toLowerCase() == "b") {  //If the last char is 'B' or 'b' for current or next rows, sort according to numeric values.
		if (dir == "asc") {
          if (Number(x.innerHTML.slice(0,-1)) > Number(y.innerHTML.slice(0,-1))) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (Number(x.innerHTML.slice(0,-1)) < Number(y.innerHTML.slice(0,-1))) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        }
	  }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
{% endblock %}