{% extends "blog/home.html" %}  <!--Must include 'blog/' before html name for Django to look up-->

{% block title %} Fundamental Trader-Feedback {% endblock %}

{% block content %}
<div style="padding:10px;">
<h2>Questions? Comments?</h2>
<p>You may also contact me for historical data. Also let me know if you are interested in collaboration, thank you!</p>
<form action="" method="POST" style="margin:0; padding:0;">  <!--Action attribute specifies the form data should be sent to the URL specified; 'POST' method offers more control over access than 'GET'.-->
	{% csrf_token %}  <!--This tag protects the site from Cross Site Request Forgeries.-->
	<!--{{ form.as_p }}   'form.as_p' automatically wraps the form in <p> tags.-->
	{{ form.non_field_errors }}  <!--Displays a list of form errors, rendered as an unordered list.-->
	<div class="fieldWrapper">
		<i style="color:red;">{{ form.name.errors }}</i>  <!--Manually change field title.-->
		{{ form.name.label_tag }}
		{{ form.name }}
	</div>
	<div class="fieldWrapper">
		<i style="color:red;">{{ form.email.errors }}</i>
		<label for="{{ form.email.id_for_label }}">Email (optional):</label>  <!--Manually change field title.-->
		{{ form.email }}
	</div>
	<div class="fieldWrapper">
		<i style="color:red;">{{ form.message.errors }}</i>
		{{ form.message.label_tag }}
		{{ form.message }}
	</div>
	<input type="submit" value="Submit" />
</form>
<div>
{% endblock %}