{% extends "blog/home.html" %}  <!--Must include 'blog/' before html name for Django to look up-->

{% block title %}Fundamental Trader-DJ Index-No Match{% endblock %}

{% block content %}
<div id="aside">
	<p>Display historical data</br>for a company:</p>
	<form method="GET" action="{% url 'blog:results' %}">
		<input type="text" name="q" placeholder="Enter Symbol or Name" value="{{ request.GET.q }}" /><br/>  <!--include 'name' for search to show up in url; include 'value' to display query while typing.-->
		<input type="submit" value="Search" />
	</form>
	<p>Display by index:</p>
	<ul>
		<li><a style="text-decoration:none;" href="{% url 'blog:DJ_LastDay' %}">Dow Jones Index</a></li>
		<li><a style="text-decoration:none;" href="http://finance.yahoo.com/q?s=^gspc">S&amp;P500 Index</a></li>
	</ul>
</div>
<div style="position:relative; margin-left:165px; padding:100px; background-color: #fff;">
	{% if posts|length == 0 %}
		<p>No match found.</p>
		<p>Try searching one of the indices.</p>
	{% elif posts|length == 1 %}
		<p>One match found in database.</p>
		<table id="" border="8" style="border-collapse: collapse; width:500px;">
		<caption>Search results<caption>
		<thead style="color:white;background:black;">
		<tr>
			<th>Symbol</th>
			<th>Name</th>
		</tr>
		</thead>
		<tbody>
		{% for post in posts %}
			<tr align="center">
			<td><a href="/results/?q={{ post.Symbol }}">{{ post.Symbol }}</a></td>
			<td>{{ post.Name }}</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	{% elif posts|length > 1 %}
		<p>More than one match found.</p>
		<table id="" border="8" style="border-collapse: collapse; width:500px;">
		<caption>Search results<caption>
		<thead style="color:white;background:black;">
		<tr>
			<th>Symbol</th>
			<th>Name</th>
		</tr>
		</thead>
		<tbody>
		{% for post in posts %}
			<tr align="center">
			<td><a href="/results/?q={{ post.Symbol }}">{{ post.Symbol }}</a></td>
			<td>{{ post.Name }}</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	{% endif %}
</div>
{% endblock %}