{% extends "blog/home.html" %}

{% block title %} Fundamental Trader-DJ Index-Last Day {% endblock %}

{% block content %}
<div id="aside">
	<p>Display historical data</br>for a company:</p>
	<form method="GET" action="{% url 'blog:results' %}">
		<input type="text" name="q" placeholder="Enter Symbol or Name" value="{{ request.GET.q }}" /><br/>  <!--include 'name' for search to show up in url; include 'value' to display query while typing.-->
		<input type="submit" value="Search" />
	</form>
	<p>Display by index:</p>
	<ul>
		<li><a {% if request.path in all_db_link %}class="aside_act"{% endif %} href="{% url 'blog:DJ_LastDay' %}">Dow Jones Index</a></li>
		<li><a style="text-decoration:none;" href="http://finance.yahoo.com/q?s=^gspc">S&amp;P500 Index</a></li>
	</ul>
</div>

<div id="section">  <!--Margin added to keep element to the right of aside bar-->
	<ul>
		<li><b>Period to display:</b></li>
		<li><a {% if request.path == DJLD %}class="sect_actlink"{% endif %} href="{% url 'blog:DJ_LastDay' %}">Last Trading Day</a></li>
		<li><a {% if request.path == DJLW %}class="sect_actlink"{% endif %} href="{% url 'blog:DJ_LastWk' %}">Last Week</a></li>
		<li><a {% if request.path == DJLM %}class="sect_actlink"{% endif %} href="{% url 'blog:DJ_LastMnth' %}">Last Month</a></li>
		<li><a {% if request.path == DJLQ %}class="sect_actlink"{% endif %} href="{% url 'blog:DJ_LastQtr' %}">Last Quarter</a></li>
		<li><a {% if request.path == DJLY %}class="sect_actlink"{% endif %} href="{% url 'blog:DJ_LastYr' %}">Last Year</a></li>
</div>
<div style="position:relative; margin-left:165px; padding:100px; background-color: #fff;">
	<P>No data for this period exist, please try a different period.</P>
</div>
{% endblock %}