<html>
	<head>
		<title>Fundamental Compare</title>
	</head>
	<body>
		<div>
			<h1><a href="http://finance.yahoo.com/">Fundamental Compare</a></h1>
		</div>
		<table>
			<tr>
				<th>Symbol</th>
				<th>Price</th>
				<th>52-week Change</th>
				<th>52-week Low</th>
				<th>52-week High</th>
				<th>5 Year Average Dividend Yield</th>
				<th>Trailing P/E</th>
				<th>Forward P/E</th>
				<th>PEG Ratio</th>
				<th>Price/Sales</th>
				<th>Price/Book</th>
				<th>Market Cap</th>
				<th>Levered Free Cash Flow</th>
				<th>Market Per Cash Flow</th>
				<th>Enterprise Value/EBITDA</th>
				<th>Name</th>
			</tr>
			{% for post in posts %}  <!--see views.py for 'posts' list-->
				<!--<p>published: {{ post.published_date }}</p>
				<h1><a href="/">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaks }}</p>-->
			<tr align="center">
				<td>{{post.Symbol}}</td>
				<td>{{post.LastPrice}}</td>
				<td>{{post.FiftyTwoWkChg}}</td>
				<td>{{post.FiftyTwoWkLo}}</td>
				<td>{{post.FiftyTwoWkHi}}</td>
				<td>{{post.DivYild}}</td>
				<td>{{post.TrailPE}}</td>
				<td>{{post.ForwardPE}}</td>
				<td>{{post.PEG_Ratio}}</td>
				<td>{{post.PpS}}</td>
				<td>{{post.PpB}}</td>
				<td>{{post.Market_Cap}}</td>
				<td>{{post.Free_Cash_Flow}}</td>
				<td>{{post.Market_per_CashFlow}}</td>
				<td>{{post.Enterprise_per_EBITDA}}</td>
				<td>{{post.Name}}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>