{% extends "blog/home.html" %}  <!--Must include 'blog/' before html name for Django to look up-->

{% block title %} Fundamental Trader-Resources-Links {% endblock %}

{% block content %}
{% include "blog/aside_ResCenter.html" %}
<div id="links" style="margin-left:175px; width:850px;">
<h2>Links</h2>
<b>Reference Websites</b>
<p><a href="https://www.bloomberg.com/">Bloomberg</a></p>
<p><a href="https://www.dowjones.com/">Dow Jones</a></p>
<p><a href="http://www.investopedia.com/">Investopedia</a></p>
<p><a href="http://www.marketwatch.com/">MarketWatch</a></p>
<p><a href="http://www.morningstar.com/">Morningstar</a></p>
<p><a href="http://www.nasdaq.com/">NASDAQ</a></p>
<b>Government and Regulatory Bodies</b>
<p><a href="https://www.finra.org/">Financial Industry Regulatory Authority</a></p>
<p><a style="text-decoration:none;" href="https://www.sec.gov/">US Security and Exchange Commission</a></p>
<b>Online Brokerage</b>
<p><a href="http://invest.ally.com/">Ally Financial</a></p>
<p><a href="https://www.schwab.com/">Charles Schwab</a></p>
<p><a href="https://us.etrade.com/">E*TRADE</a></p>
<p><a href="https://www.fidelity.com/">Fidelity</a></p>
<p><a href="https://www.firstrade.com/">Firstrade</a></p>
<p><a href="https://www.merrilledge.com/">Merrill Edge</a></p>
<p><a href="http://www.tdameritrade.com/">TD Ameritrade</a></p>
<p><a href="http://www.tradestation.com/">TradeStation</a></p>

</div>
{% endblock %}