{% extends "blog/home.html" %}  <!--Must include 'blog/' before html name for Django to look up-->

{% block title %} Fundamental Trader-Resources-Links {% endblock %}

{% block content %}
{% include "blog/aside_ResCenter.html" %}
<div id="links" style="margin-left:175px; width:850px;">
<h2>Links</h2>
<b>Reference Websites</b>
<p><a href="https://www.bloomberg.com/" target="_blank">Bloomberg</a></p>
<p><a href="https://www.dowjones.com/" target="_blank">Dow Jones</a></p>
<p><a href="http://www.investopedia.com/" target="_blank">Investopedia</a></p>
<p><a href="http://www.marketwatch.com/" target="_blank">MarketWatch</a></p>
<p><a href="http://www.morningstar.com/" target="_blank">Morningstar</a></p>
<p><a href="http://www.nasdaq.com/" target="_blank">NASDAQ</a></p>
<b>Government and Regulatory Bodies</b>
<p><a href="https://www.finra.org/" target="_blank">Financial Industry Regulatory Authority</a></p>
<p><a href="https://www.sec.gov/" target="_blank">US Security and Exchange Commission</a></p>
<b>Online Brokerage</b>
<p><a href="http://invest.ally.com/" target="_blank">Ally Financial</a></p>
<p><a href="https://www.schwab.com/" target="_blank">Charles Schwab</a></p>
<p><a href="https://us.etrade.com/" target="_blank">E*TRADE</a></p>
<p><a href="https://www.fidelity.com/" target="_blank">Fidelity</a></p>
<p><a href="https://www.firstrade.com/" target="_blank">Firstrade</a></p>
<p><a href="https://www.merrilledge.com/" target="_blank">Merrill Edge</a></p>
<p><a href="http://www.tdameritrade.com/" target="_blank">TD Ameritrade</a></p>
<p><a href="http://www.tradestation.com/" target="_blank">TradeStation</a></p>

</div>
{% endblock %}