{% extends "blog/home.html" %}  <!--Must include 'blog/' before html name for Django to look up-->

{% block title %} Fundamental Trader-Resources-Plugs {% endblock %}

{% block content %}
{% include "blog/aside_ResCenter.html" %}
<div id="links" style="margin-left:175px; width:850px;">
<h2>General interest websites</h2>
<b>Fitness and Personal Enrichment</b>
<p><a href="https://fitcoachlinda.com/">Fit Coach Linda</a></p>
<p><a href="https://grabmywrist.com/">Grab My Wrist</a></p>
<!--<br>
<b>Corporate Tax Services</b>
<p><a href="http://www.maxwelltax.com/about.php">MAXWELL TAX SERVICES</a></p>
<br>
<b>San Diego Realty</b>
<p><a href="http://pemberleyrealty.com/">Pemberley Realty</a></p>
-->
<b>Web Host</b>
<p><a href="https://www.pythonanywhere.com/?affiliate_id=000c68d6" target="_blank">PythonAnywhere</a></p>
</div>
{% endblock %}