<!--{% load staticfiles %}-->
{% load static %}
<link rel="stylesheet" href="{% static 'css/theme.default.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.widgets.js' %}"></script>  <!--Required for stickyHeaders, filter, etc....-->
<!--<div class="tableWrap" style="position:relative;">-->
<table id="myTable" class="tablesorter" border="4" style="border-collapse:collapse; width:1000px;">
	<!--<div id="myHeader">-->
		<caption id="myCap"><b>
		<span class="highlight">
		{% if 'DJ' in request.path %}
			Dow Jones
		{% elif 'SP' in request.path %}
			S&amp;P500
		{% endif %}
			</span>Index (<span class="highlight">{{ posts|length }}</span> symbols returned) - 
		<span class="highlight">
		{% if 'LastDay' in request.path %}
			Last Trading Day
		{% elif 'LastWeek' in request.path %}
			Last Week
		{% elif 'LastMonth' in request.path %}
			Last Month
		{% elif 'LastQuarter' in request.path %}
			Last Quarter
		{% elif 'LastYear' in request.path %}
			Last Year
		{% endif %}
		({% with posts.0 as 1st %} {{ 1st.Day }} {% endwith %})
		</span>  <!--Get "Day" field value from first item in QuerySet "posts."-->
		</b></caption>
		<thead>
		<tr style="text-align:center;">
			<th title="Ticker Symbol">Sym</th>
			<th title="Last Price">Price</th>
			<th title="52-week Price Change">52-wk Chng</th>
			<th title="52-week Low">52-wk Low</th>
			<th title="52-week High">52-wk Hi</th>
			<th title="Trailing Annual Dividend Yield">Div Yild</th>
			<th title="Trailing Price-To-Earnings">Trail P/E</th>
			<th title="Forward Price-To-Earnings">For P/E</th>
			<th title="Price/Earnings-To-Growth Ratio">PEG Ratio</th>
			<th title="Price-To-Sales Ratio">P/S</th>
			<th title="Price-To-Book Ratio">P/B</th>
			<th title="Market Capitalization">Mkt Cap</th>
			<th title="Operating Cash Flow">OCF</th>
			<th title="Price-To-Cash-Flow Ratio">Mkt/OCF</th>
			<th title="Enterprise Value/EBITDA">EV/EBITDA</th>
			<th title="Company Name">Name</th>
			<th title="Company Service Type">Sector</th>
		</tr>
		</thead>
	<!--</div>-->
	<tbody>
	{% for post in posts %}
	<tr align="center">
		<td id="table-link"><a href="/results/?q={{ post.Symbol }}" title="{{ post.Name }}">{{ post.Symbol }}</a></td>
		<td>{% firstof post.LastPrice "N/A" %}</td>  <!--Print out value OR "N/A" in case value doesn't exist.-->
		{% load math_op %}
		{% if post.FiftyTwoWkChg|floatformat %}  <!--Check if conversion to float type is possible.-->
			<td>{{ post.FiftyTwoWkChg|mult:100|floatformat:2 }}%</td>
		{% else %}
			<td>N/A</td>
		{% endif %}
		<td>{% firstof post.FiftyTwoWkHi "N/A" %}</td>
		<td>{% firstof post.FiftyTwoWkLo "N/A" %}</td>
		{% if post.DivYild|floatformat %}
			<td>{{ post.DivYild|mult:100|floatformat:2 }}%</td>
		{% else %}
			<td>N/A</td>
		{% endif %}
		<td>{% firstof post.TrailPE|floatformat:2 "N/A" %}</td>
		<td>{% firstof post.ForwardPE|floatformat:2 "N/A" %}</td>
		<td>{% firstof post.PEG_Ratio "N/A" %}</td>
		<td>{% firstof post.PpS|floatformat:2 "N/A" %}</td>
		<td>{% firstof post.PpB|floatformat:2 "N/A" %}</td>
		{% if post.Market_Cap|floatformat %}
			<td>{{ post.Market_Cap|div:1000000000|floatformat:2 }}B</td>
		{% else %}
			<td>N/A</td>
		{% endif %}
		{% if post.Free_Cash_Flow|floatformat %}
			<td>{{ post.Free_Cash_Flow|div:1000000000|floatformat:2 }}B</td>
		{% else %}
			<td>N/A</td>
		{% endif %}
		<td>{% firstof post.Market_per_CashFlow|floatformat:2 "N/A" %}</td>
		<td>{% firstof post.Enterprise_per_EBITDA|floatformat:2 "N/A" %}</td>
		<td>{% firstof post.Name "N/A" %}</td>
		<td>{% firstof post.Sector "N/A" %}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
<!--</div>-->

<script>
/*
window.onscroll = function() {myFunction()};  //When the user scrolls the page, execute myFunction; may be replaced with onscroll="myFunction()" in <body>.

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;  //Get the y-ccord of offset pos for header.

function myFunction() {
  if (window.pageYOffset > sticky) {
	//console.log(sticky, window.pageYOffset, header.offsetHeight)
	//header.style.paddingTop = header.offsetHeight + 'px';  //Prevent sudden jump of the table body due to fixed table header by reserving a padding for header height.
    header.classList.add("sticky");
  } else {
    //header.style.paddingTop = 0;
	header.classList.remove("sticky");
  }
}
*/
$.tablesorter.addParser({ //Bypass tablesorter default behavior with a parser function.
    // Set a unique id 
    id: 'billions',
    is: function(s) { 
        // Return false so this parser is not auto detected 
        return false; 
    }, 
    format: function(s) {
        // Remove last character 'B' and sort as numbers.
        return s.replace('B','');
    }, 
    // set type, either numeric or text 
    type: 'numeric' 
});
$(document).ready(function(){
	$('#myTable').tablesorter({
		//theme: 'blue',
		sortList: [[0,0], [1,0]],  //Sort both Symbol and Last Price in ascending order.
		widgets: ['zebra'],  //'stickyHeaders'
		widgetOptions: {
			//stickyHeaders_attachTo: null,
			//stickyHeaders_appendTo: '#tableWrap',
			//stickyHeaders_cloneId : '-sticky',
		},
		headers: {
			11: {//zero-based column index; Market Cap
				sorter: 'billions'
			},
			12: {//Operating Cash Flow
				sorter: 'billions'
			}
		}
	});
});

//Bubble sort, see <https://www.w3schools.com/howto/howto_js_sort_table.asp> for source code.
//Get the number of rows in the table; only counting rows within <tbody>.
//var rows = document.getElementById('myTable').getElementsByTagName("tbody")[0].rows.length;
/*var rows = document.getElementById("myTable").getElementsByTagName("TR").length;
console.log(rows);
*/
/*
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  //var reTest = /[A-Za-z]/
  table = document.getElementById("myTable");
  switching = true;
  //Initialize the sorting direction to ascending:
  dir = "asc"; 
  //Make a loop that will continue until no switching has been done:
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
	//Get a count of total # of rows (including <thead>)
    rows = table.getElementsByTagName("TR");
	//Convert all raw data with the value "infinity" to 0 for sorting.
    for (i = 1; i < (rows.length - 1); i++) {
		if (rows[i].getElementsByTagName("TD")[n] != '"Infinity"') { continue; }
			rows[i].getElementsByTagName("TD")[n] = 0;
	}
	//Loop through all table rows (except the first, which contains table headers):
	for (i = 1; i < (rows.length - 1); i++) {
      //start without doing any switching:
      shouldSwitch = false;
      //Get the two elements you want to compare, one from current row and one from the next:
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
	  console.log(x.innerHTML.slice(0,1));  //".innerHTML" displays str nested inside html decorator <></>.
	  //check if the two rows should switch place, based on the direction, asc or desc:
	  if (/[a-z]/i.test(x.innerHTML.slice(0,1)) || /[a-z]/i.test(y.innerHTML.slice(0,1))) {  //If the 1st char is a letter for current or next rows, sort as str.
		if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        }
	  } else if (/[0-9]/.test(x.innerHTML.slice(-1)) || /[0-9]/.test(y.innerHTML.slice(-1))) {  //If the last char is a num for current or next rows, sort according to num values.
		if (dir == "asc") {
          if (Number(x.innerHTML) > Number(y.innerHTML)) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (Number(x.innerHTML) < Number(y.innerHTML)) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        }
	  } else if (x.innerHTML.slice(-1) == "%" || y.innerHTML.slice(-1) == "%") {  //If the last char is '%' for current or next rows, sort according to numeric values.
		if (dir == "asc") {
          if (Number(x.innerHTML.slice(0,-1)) > Number(y.innerHTML.slice(0,-1))) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (Number(x.innerHTML.slice(0,-1)) < Number(y.innerHTML.slice(0,-1))) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        }
	  } else if (x.innerHTML.slice(-1).toLowerCase() == "b" || y.innerHTML.slice(-1).toLowerCase() == "b") {  //If the last char is 'B' or 'b' for current or next rows, sort according to numeric values.
		if (dir == "asc") {
          if (Number(x.innerHTML.slice(0,-1)) > Number(y.innerHTML.slice(0,-1))) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (Number(x.innerHTML.slice(0,-1)) < Number(y.innerHTML.slice(0,-1))) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        }
	  }
    }
    if (shouldSwitch) {
      //If a switch has been marked, make the switch and mark that a switch has been done:
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      //If no switching has been done AND the direction is "asc", set the direction to "desc" and run the while loop again.
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
*/
</script>
